<ion-header [translucent]="true">
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-menu-button menu="default"></ion-menu-button>
    </ion-buttons>

    <!-- OLD VERSION - COMPLICATED
    <ion-buttons slot="start" >
      <ion-button (click)="showMenu()" >
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>

      </ion-button>
    </ion-buttons>
    -->
    <ion-badge class="ion-margin-end" slot="end">
      Ionic 7
    </ion-badge>
    <ion-badge class="ion-margin-end" slot="end" [color]="'tertiary'">
      Angular 17
    </ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card>
    <img src="assets/ia.png" alt="Ionic and Angular"/>
    <ion-card-header>
      <ion-card-title>Welcome to  Ionic Overview App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        This app provides a comprehensive overview of the features and components available in Ionic and Angular. It
        serves as a valuable resource for software engineers evaluating these technologies for building Progressive Web
        Applications (PWAs).
      </p>
      <p>
        Explore detailed examples and usage of Ionic's extensive UI components and Angular's powerful features,
        including data binding, component interactions, and state management.
      </p>
      <p>
        This app is designed to enhance your development process, whether you're new to these frameworks or an
        experienced developer.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Technologies Used</ion-card-subtitle>
      <ion-card-title>Key Features</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/ionic.webp" alt="Ionic Logo"/>
          </ion-avatar>
          <ion-label>
            <h2>Extensive use of Ionic UI components</h2>
            <p>Create stunning mobile and desktop apps with Ionic's pre-built components.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/angular.png" alt="Angular Logo"/>
          </ion-avatar>
          <ion-label>
            <h2>Seamless integration with Angular</h2>
            <p>Utilize Angular's powerful features for robust and scalable applications.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Responsive and adaptive design</h2>
            <p>Ensure your app looks great on all devices with responsive design principles.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="navigate-circle-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Comprehensive routing and navigation</h2>
            <p>Implement efficient navigation with Angular's router.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="sync-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>State management and data binding</h2>
            <p>Manage your application state effectively with Angular's features.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="cloud-done-outline" slot="start"></ion-icon>
          <ion-label>
            <h2>Support for Progressive Web Applications (PWAs)</h2>
            <p>Build reliable and fast PWAs with Ionic and Angular.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title size="small">
      Explore and learn more checking
      <a href="https://ionicframework.com/docs/components" target="_blank" rel="noopener noreferrer">Official Ionic Documentation</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>
