<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">Ionic Components  </ion-title>
    <ion-badge class="ion-margin-end" slot="end" [color]="'tertiary'" > Angular </ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <br>

  <ion-list>
    <ion-item detail *ngFor="let c of components" [routerLink]="c.redirectTo">
      <ion-icon [name]="c.icon" slot="start" color="primary" ></ion-icon>
      {{ c.name }}
    </ion-item>
  </ion-list>


</ion-content>
