<app-header [title]="'Floating Action Button'"></app-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <app-page-description [text]="componentDescription"></app-page-description>

  <h6> Relative to a List </h6>

  <ion-fab slot="fixed" horizontal="center" vertical="center">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary">
        <ion-icon name="chevron-up"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button color="tertiary">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button color="warning">
        <ion-icon name="chevron-down"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="danger">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-ionic"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-angular"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="facebook" name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="youtube" name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>


  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label> Item {{ i + 1 }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Footer</ion-title>
  </ion-toolbar>
</ion-footer>
